<!DOCTYPE html>
<html>
<head>

<title>Project One</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="main.css">
    <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                  </button>
                  <a class="navbar-brand text" href="/">Project One</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav">
                    <li class="para-text"><a href="/">Home</a></li>

                    <li class="dropdown para-text">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="/visionboard">Visionboard<span class="caret"></span></a>
                      <ul class="dropdown-menu para-text">
                        <li><a href="/visionboard">Visionboard</a></li>
                        
                        
                      </ul>
                    </li>

                    

                    
                  </ul>
                  <ul class="nav navbar-nav navbar-right para-text">
                  <li class="white">
                      <% if (user.local) { %>
            <%= user.local.email %>
            <% }else{ %>
            <%= user %>
            <%}%>
                  </li>
                  <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                  <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout </a></li>
                    <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    
                  </ul>
                </div>
              </div>
    </nav>
  </head>
  <body>
    <div class="container">
    <div class = 'jumbotron'>
      <h1>Landing Page Photo Gallery</h1>
    </div> 
  </div>

  <div class="row">
    <div id="thing" class="center-block">
      <p>DRAG ME!</p>
    </div>
  </div>

  <div class="row">
    <div id="thing2" class="center-block btn btn-warning">
      <p>CLICK ME TO UPDATE!</p>
    </div>
  </div>

    <div class="row">
    <input id="input" class="center-block">  </input>
    <input id="input2" class="center-block">  </input>
    </div>


  <div class="row">
    <div id="submitButton" class="center-block btn btn-primary">
      <p>CLICK ME TO SUBMIT!</p>
    </div>
  </div>

<div class='container'>
<legend>Goal</legend>
<div class='row col-xs-6'>

<!--   <form action="" method="POST" role="form">
    
  
    <div class="form-group">
      <label class="row" for="">Intention</label>
      <input type="text" class="form-control" id="" placeholder="Intention">
    </div>
    <div class="row">
      <p>Start Date</p>
         <input type="date" name="" id="input" className="form col-xs-3" value="" required="required" title=""/>
         </div>
         <div class='row'>
         <p>End Date</p>
         <input type="date" name="" id="input" className="form col-xs-3" value="" required="required" title=""/>
         </div><br>
         <div class="row">
         <input placeholder="Enter your task here"></input>
        <button type="submit" class="btn btn-primary">Add Task</button><br><br>
        
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
  </form>
  </div>
</div> -->







<script src="https://code.jquery.com/jquery-2.2.0.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/utils/Draggable.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script>
  Draggable.create("#thing", {type:"x,y", bounds:window, onDragEnd: thingFunction, force3D: true});

    var posX;
    var posY;

  function thingFunction(){
    posX = Draggable.get('#thing').x;
    posY = Draggable.get('#thing').y;

    console.log(typeof posX);
    console.log(typeof posY);
  }

  $("#thing2").mousedown(function(){
    posX = document.getElementById('input').value;
    posY = document.getElementById('input2').value;
    TweenMax.to("#thing", 0, {x: posX, y: posY});
  })

  var data = ({
    posX: posX,
    posY: posY
  })

  $('#submitButton').mousedown(function(){

            $.ajax({
              url: "/api/visionboard/",
              dataType: 'json',
              data: data,
              type:'POST',
              success: function(response){
                console.log("posting data!", data, response)
              }.bind(this),
              error: function(xhr, status, err){
                console.log("not posting data!")
                console.error(this.props.url, status, err.toString());
              }.bind(this)
            })
  })



</script>
</body>
</html>
