<!DOCTYPE html>
<html>
<head>
  <title>Start Your VisiB</title>


       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="main.css">

  <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div >
                  
                  <p class="navbar-brand text legend"><mark class="white">VisiB.</mark> Start Visualizing Today.</p>
                </div>
              </div>
    </nav>

</head>


<body>

   <div class = "container">
    <div class = "row">
      <div class = 'col-lg-6 pic-coll-form'>

      <form action="/api/pictureboard" method="POST" class="form" class='row'>
       <legend class="legend">Start your visionboard. Choose one image url to begin.</legend>

        <div class="form-group">
          <label class="legend" for="">Visionboard Image</label>
          <input name="imageUrl" type="text" class="form-control" id="" placeholder="Ex. http://example-image.jpg">
        </div>
    
        <button type="submit" class="legend button-color">Add</button>
      </form>
     </div>

     <div class = 'col-lg-5 col-lg-offset-1 pic-collection-img'>
       <img src="img/sample_vb.jpg" height = '100%' width='100%'>
     </div>




    </div>
   </div>
 <br><br><br>
 <br><br><br>
 <br><br><br>

<div class='row'>
   <footer class = "foot">
   
    <p>&copy; Copyright VisiB 2016</p>
    <p>Contact us at info@visib.com </p> 
   
  </footer>
    


</div>




<!-- jQuery -->
      <script src="//code.jquery.com/jquery.js"></script>
      <!-- Bootstrap JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>

</html>