<!DOCTYPE html>
<html>
<head>

<title>Project One</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="main.css">
  <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                  </button>
                  <a class="navbar-brand text" href="/">Project One</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav">
                    <li class="para-text"><a href="/">Home</a></li>

                    <li class="dropdown para-text">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="/visionboard">Visionboard<span class="caret"></span></a>
                      <ul class="dropdown-menu para-text">
                        <li><a href="/visionboard">Visionboard</a></li>
                        
                        
                      </ul>
                    </li>

                    

                    
                  </ul>
                  <ul class="nav navbar-nav navbar-right para-text">
                  <li class="white">
                      <% if (user.local) { %>
            <%= user.local.email %>
            <% }else{ %>
            <%= user %>
            <%}%>
                  </li>
                  <li><a href="/login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                  <li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Logout </a></li>
                    <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    
                  </ul>
                </div>
              </div>
    </nav>
  </head>
  <body>

  
    <div class = 'jumbotron jumboimage'>
      
    </div> 
 

  <div class='container'>
    <div class = "panel">
      <h2 class='col-xs-2  panels'>Profile Image</h2>
      <h4 class = 'col-xs-8 col-xs-offset-1'> Short User Bio :
       Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
    </div>
  </div>
  <div class="container col-xs-10 col-xs-offset-1">
     <div class="panel panel-info">
       <div class="panel-heading">
       <nav class="navbar navbar-inverse">
         <div class="container-fluid">
           <a class="navbar-brand" href="#">Title</a>
           <ul class="nav navbar-nav">
             <li class="active">
               <a href="#">Goal #1</a>
             </li>
             <li>
               <a href="#">Goal #2</a>
             </li>
           </ul>
         </div>
       </nav>
         <h3 class="panel-title">Goals</h3>
       </div>
       <div class="panel-body">
         <p>View goals here</p>
         <div class = 'row'>
         <p>Start Date</p>
         <input type="date" name="" id="input" class="form col-xs-3" value="" required="required" title="">
         </div>
         <div class = 'row'>
         <p>End Date</p>
         <input type="date" name="" id="input" class="form col-xs-3" value="" required="required" title="">
         </div>
         <div class='row'>
           <ul>
             <li>
               this is one task
             </li>
             <li>
               this is one task
             </li>
             <li>
               this is one task
             </li>
           </ul>
           
            
            <textarea class="form col-xs-4" rows="5" id="comment">Comment here..</textarea>
            <button>Submit Comment</button>
          </div>
         </div>
       </div> 
     </div>
  </div>
  




<script src="https://code.jquery.com/jquery-2.2.0.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script src="app.js"></script>
</body>
</html>
