.pic-collection-img{
	padding-top: 60px;
}
.jumbo{
	background-color: #c5eff7;
}

.pic-coll-form{
	padding-top: 170px;
}

#renderGoals {
     position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.foot{
 color: grey;
  background: black;
  padding-bottom: 35px;
  text-align: center;
  font-family: 'Avenir';
  padding-top: 20px;
}

.legend{
	font-family: 'Avenir';
	
}
.line{
	border-bottom: 1px solid black;
}

.navbar-brand-white{
	color: grey;
	font-size: 20px;
	margin: auto;
	margin-top: 10px;
}

.image-padding{
	padding-top: 50px;
}

.button-color{
	background-color: #52b3d9;
	padding: 5px;
	border-color: black
}

mark.white{
	color: white;
	background: none;
}
.userbio-form-jumbo{
	padding-bottom: 280px;
	background-color: #c5eff7;
	padding-left: 0px;
}

.goalbio-form-jumbo{
  padding-bottom: 350px;
  background-color: #c5eff7;
  padding-left: 0px;
}

.margin-left{
	margin-left: 17px;
}
.margin-left-intention{
  margin-left: 5px;
}

a {
  display: inline !important;
  color: white;
  word-spacing: 5px;
}

.date-input{
  width: 200px;
}

.centered
{
    text-align:center;
}

#searchFoot{
 background-color: white;
 bottom: 0;
 height: 100px;
 left: 0;
 position: absolute;
 right:0;

}

a {
	color: black;
	font-family: 'Avenir';
}

.friends-border{
	border: 1px solid black;
}

.goal-nav{
	color: white;
	display: inline !important;
	
}
.date-size{
	font-size: 15px !important; 
}
.task-size{
	font-size: 20px !important;
}
