.pic-collection-img{
	padding-top: 60px;
}
.jumbo{
	background-color: #c5eff7;
}

.pic-coll-form{
	padding-top: 170px;
}

#renderGoals {
     position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.foot{
 color: grey;
  background: black;
  padding-bottom: 60px;
  text-align: center;
  font-family: 'Avenir';
  padding-top: 20px;
  position: relative;
  width: 100%;
}

.legend{
	font-family: 'Avenir';
	
}
.line{
	border-bottom: 1px solid black;
}

.navbar-brand-white{
	color: grey;
	font-size: 20px;
	margin: auto;
	margin-top: 10px;
}

.image-padding{
	padding-top: 50px;
}

.button-color{
	background-color: #52b3d9;
	padding: 5px;
	border-color: black
}


.task-button-color{
  background-color: #1abc9c;
  padding: 5px;
  border-color: black
}

mark.white{
	color: white;
	background: none;
}
.userbio-form-jumbo{
	padding-bottom: 280px;
	background-color: #c5eff7;
	padding-left: 0px;
}

.goalbio-form-jumbo{
  padding-bottom: 350px;
  background-color: #c5eff7;
  padding-left: 0px;
}

.margin-left{
	margin-left: 17px;
}
.margin-left-intention{
  margin-left: 5px;
}



.date-input{
  width: 200px;
}

.centered
{
    text-align:center;
}


.edit-button{
   position:absolute;
   -webkit-appearance: none;
     top:0;
     right:0;
     border: 0 !important; 
     outline: 0 !important;
 
     background: transparent !important;

}

@media(max-width: 520px) {
    #searchFoot {
        display: none;
    }
}

#searchFoot{
 color: grey;
  background: black;
  padding-bottom: 60px;
  text-align: center;
  font-family: 'Avenir';
  padding-top: 20px;
  position: relative;
  width: 100%;

}

.friends-border{
	border: 1px solid black;
  padding: 25px;
}

.goal-nav{
	color: white;
	display: inline !important;
	
}
.date-size{
	font-size: 15px !important; 
}
.task-size{
	font-size: 20px !important;

.glyphicon-pencil{
  display: none;
}
.glyphicon-pencil{
	display: none;
}
.show-me:hover .glyphicon-pencil{
  display: block;
}
.black{
	color:black !important;
}
.padding-goal-nav{
	text-align: center;
	padding-top: 10px;
}



